.gnavi {
    width: 600px;
    border: solid 1px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px;
}

.gmavi_td {
    background-color: royalblue;
    width: 200px;
    color: white;
    text-align: center;
}

.gnavi_agnavi_a {
    text-decoration: none;
    /* リンクの下線を表示しない*/
    color: black
    /* 文字色を黒*/
}

.main_h1 {
    font-size: 38px;
    border: solid 1px black;
    /* 作業用に仮の枠線を設定（後で削除する）*/
    margin-top: 0;
    margin-bottom: 0;
}

.list_main_h2 {
    font-family: 'Comic Sans MS';
    /* 手作りっぽいフォントを設定*/
    color: #0000ff;
    border-bottom: dotted 3px #0000ff;
}

#topphoto{
    background-image: url("Picture/サル.png");
    background-size: 800px;
    background-repeat: repeat;
    height:75px;
}

img{
    text-align: left;
    height : 100px;
}
hr{
    margin: 0px auto;
    size:"5px";
    color:"Black"; 
}

a{
    text-decoration: none;
    color: white;
}